                            <div class="btn-group pull-left" id="buttons-grid">
                                <button type="button" class="btn btn-default" ng-click="showForm(false)"> Novo</button>
                                <button type="button" class="btn btn-default" ng-click="acao('excluir')"> Excluir</button>
                                <button type="button" class="btn btn-default" ng-click="acao('habilitar')"> Habilitar</button>
                                <button type="button" class="btn btn-default" ng-click="acao('desabilitar')"> Desabilitar</button>
                            </div>