.input-group .btn {
    box-shadow: none;
    line-height: 20px;
    margin: 0 !important;
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}

.btn-group > .btn + .dropdown-toggle {
    padding-bottom: 4px;
    padding-top: 6px;
}

.padding-bottom {
    padding-bottom: 20px !important;
}

.header h4 {
    font-size: 18px !important;
    font-weight: normal !important;
}

.margin-bottom {
    padding-bottom: 15px !important;
}

.table-corretor {
    border: none !important;
}

.table-corretor tr td {
    border: none !important;
    border-bottom: 1px solid #ccc !important;
}

.table-corretor tr.odd td {
    background: #E9F6FC !important;
}