    <div class="row">
        <div class="col-sm-6">
            
        </div>
        <div class="col-sm-6" ng-controller="SlideCtrl">
            <div class="col-sm-3">
                <a href="javascript://" class="thumbnail" ng-click="slide(1)">
                  <img src="/img/slide-thumb-1.jpg" alt="...">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="javascript://" class="thumbnail" ng-click="slide(2)">
                  <img src="/img/slide-thumb-2.jpg" alt="...">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="javascript://" class="thumbnail" ng-click="slide(3)">
                  <img src="/img/slide-thumb-3.jpg" alt="...">
                </a>
            </div>
            <div class="col-sm-3">
                <a href="javascript://" class="thumbnail" ng-click="slide(4)">
                  <img src="/img/slide-thumb-4.jpg" alt="...">
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <iframe width="560" height="315" src="//www.youtube.com/embed/chmzWgm3_7E" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>