    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="map">
                <div class="page-header">
                    <h1>Localização</h1>
                </div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d7458.948710123574!2d-39.72424684837517!3d-17.525714237762436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-BR!2sbr!4v1414755376011" width="100%" height="400" frameborder="0" style="border:0"></iframe>
            </div>
        </div>
    </div>